# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/
.Rhistory

# Файлы окружения
.env
.env.local

# Сгенерированные папки
faiss_index/
evaluation_results.json

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db